@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Overpass:wght@100&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    scroll-behavior: smooth;
}
body {
    position: relative;
    width: 1440px;
    background: #fff;
    height: 6253px;
}
/* ---------Header---------- */
header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    gap: 184px;
    position: absolute;
    width: 1440px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #222;
}
header .headerText {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 100%;
    height: 20px;
}
header .headerText .textBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .headerText ion-icon {
    color: #d30018;
    margin-right: 5px;
}
header .headerText .textBox p {
    width: 122px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}
header .headerText .textBox:nth-child(2) p {
    width: 259px;
}
header .headerText .textBox:nth-child(3) p {
    width: 403px;
}
header .flags {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90px;
    height: 30px;
    cursor: pointer;
}
header .flags .flag {
    width: 40px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
    background: linear-gradient(#eee 0%, #eee 50%, #dc143c 50%, #dc143c 100%);
}
header .flags .flag2 {
    width: 40px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
    background: linear-gradient(#141414 0%, #141414 33%, #ed1f24 33%, #ed1f24 66%, #ffcd05 66%,  #ffcd05 100%);
}

/* ---------Banner---------- */
.banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    width: 1440px;
    height: 579px;
    left: 0;
    top: 50px;
    background: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    transition: 0.5s;
}
.banner .menu {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    width: 100%;
    height: 96px;
    background: rgba(0, 0, 0, 0.3);
}
.banner .menu .logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 175px;
    height: 56px;
}
.banner .menu .logo img {
    width: 175px;
    height: 56px;
    cursor: pointer;
}
.banner .menu .menuBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 0;
    width: 891px;
    height: 25px;
}
.banner .menu .menuBar ul {
    display: flex;
    flex-direction: row;
    height: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.banner .menu .menuBar ul li {
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
}
.banner .menu .menuBar ul li a {
    text-decoration: none;
    color: #fff;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 58px;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 73px;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 115px;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 225px;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 70px;
}
.banner .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 790px;
    height: 238px;
}
.banner .title h1 {
    width: 606px;
    height: 183px;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.banner .title button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 109px;
    height: 45px;
    background: #fff;
    cursor: pointer;
    border: none;
}
.banner .title button p {
    width: 69px;
    height: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #222;
}
.banner .title .arrow_left {
    position: absolute;
    opacity: 0.5;
    left: 25%;
    top: 50%;
    width: 16px;
    height: 52px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    padding: 25px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}
.banner .title .arrow_right {
    position: absolute;
    opacity: 0.5;
    left: 72%;
    top: 50%;
    width: 16px;
    height: 52px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    padding: 25px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}
.banner .title .arrow_left:hover,
.banner .title .arrow_right:hover {
    opacity: 1;
}
.banner .slider {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 0;
    width: 65px;
    height: 15px;
    gap: 10px;
    top: 40px;
}
.banner .slider .circle {
    opacity: 0.5;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.banner .slider .circle.active {
    background: #d30018;
    opacity: 1;
}
/* ---------Realizacja---------- */
.realization {
    position: absolute;
    top: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.realization .realizationText {
    padding: 0;
    width: 100%;
    height: 121px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.realization .realizationText h2 {
    width: 610px;
    height: 51px;
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
    margin-left: 100px;
}
.realization .realizationText p {
    width: 80%;
    height: 60px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
    margin-left: 100px;
    white-space: initial;
}
.realization .realizationImg {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1012px;
    width: 1440px;
}
.realization .realizationImg .box {
    width: 50%;
    height: 506px;
}
.realization .realizationImg .box .imgBx {
    position: relative;
    width: 100%;
    height: 506px;
}
.realization .realizationImg .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.realization .realizationImg .textBx1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 404px;
    height: 231px;
    margin-left: 100px;
    top: 420px
}
.realization .realizationImg .textBx2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 404px;
    height: 231px;
    margin-left: 100px;
    top: 420px
}
.realization .realizationImg .textBx3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 404px;
    height: 231px;
    margin-left: 100px;
    top: 920px
}
.realization .realizationImg .textBx4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 404px;
    height: 231px;
    margin-left: 100px;
    top: 920px
}
.realization .realizationImg h3 {
    width: 97px;
    height: 41px;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #fff;
}
.realization .realizationImg p {
    width: 404px;
    height: 180px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}
.realization .realizationImg button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 109px;
    height: 45px;
    background: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.realization .realizationImg button p {
    width: 69px;
    height: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #222;
}
/* ---------O nas---------- */
.aboutUs {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px;
    width: 100%;
    height: 596px;
    top: 2122px;
}
.aboutUs .aboutContent {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.aboutContent .col50 {
    position: relative;
    width: 48%;
    margin-right: 110px
}
.aboutUs .aboutContent .textAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 610px;
    height: 491px;
}
.aboutUs .aboutContent .textAbout h2 {
    width: 610px;
    height: 51px;
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
    margin-bottom: 10px;
}
.aboutUs .aboutContent .textAbout p.ipsum1 {
    width: 610px;
    height: 150px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #636363;
    margin-bottom: 10px;
}
.aboutUs .aboutContent .textAbout p.ipsum2 {
    width: 610px;
    height: 2700px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
}
.aboutUs .aboutContent .textAbout button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 109px;
    height: 45px;
    background: #d30018;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.aboutUs .aboutContent .textAbout button p {
    width: 69px;
    height: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.aboutUs .aboutContent .col50 {
    position: relative;
    width: 48%;
}
.aboutUs .aboutContent .col50 .imgAbout {
    position: relative;
    width: 100%;
    height: 596px;
    object-fit: cover;
}
.aboutUs .aboutContent .col50 .imgAbout img.about1 {
    top: 0;
    left: 0;
    width: 529px;
    height: 353px;
}
.aboutUs .aboutContent .col50 .imgAbout img.about2 {
    top: 0;
    left: 0;
    width: 365px;
    height: 243px;
    margin-left: 82px;
    transform: translateY(-15px);
}

/* --------Oferta-------------- */
.offer {
    position: absolute;
    top: 2818px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    gap: 50px;
    width: 1440px;
    height: 1559px;
    left: 0;
    background: #f8f8f8;
}
.offer .offerText h2 {
    width: 610px;
    height: 51px;
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
}
.offer .offerText p {
    width: 1240px;
    height: 60px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
}
.offer .offerContent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1188px;
    width: 100%;
    gap: 20px;
}
.offer .offerContent .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;
    width: 610px;
    height: 584px;
    background: #fff;
}
.offer .offerContent .box h1 {
    width: 93px;
    height: 122px;
    font-weight: 200;
    font-size: 96px;
    line-height: 122px;
    text-transform: uppercase;
    color: #d30018;
}
.offer .offerContent .box h2 {
    width: 510px;
    height: 102px;
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
}
.offer .offerContent .box p {
    width: 510px;
    height: 240px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
}
/* --------- Logo Bar ------------ */
.logoBar {
    position: absolute;
    top: 4477px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logoBar .bar {
    position: absolute;
    width: 1240px;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 70px;
    left: 130px;
}
.logoBar .bar img {
    width: 146px;
    height: 110px;
    filter: grayscale(100%);
    opacity: 0.3;
}
.logoBar .bar img:nth-child(1) {
    width: 175px;
    height: 50px;
    transform: translateY(35px);
}
.logoBar .bar img:nth-child(3) {
    width: 175px;
    height: 80px;
    transform: translateY(10px);
}
.logoBar .bar img:nth-child(5) {
    width: 175px;
    height: 50px;
    transform: translateY(35px);
}
/* ---------Aktualności--------------*/
.latestNews {
    position: absolute;
    top: 4687px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1440px;
    height: 800px;
}
.latestNews .news {
    width: 1440px;
    height: 1200px;
}
.latestNews .news h2 {
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
    height: 51px;
    transform: translateX(100px);
}
.latestNews .news .newsContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    position: absolute;
    width: 1240px;
    top: 50px;
    left: 100px;
}
.latestNews .news .newsContent .imgNewsBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 610px;
    height: 600px;
    background: #fff;
    margin-top: 50px;
    gap: 20px;
}
.latestNews .news .newsContent .imgNewsBox img {
    object-fit: cover;
    width: 610px;
    height: 338px;
}
.latestNews .news .newsContent .imgNewsBox .imgText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 5px;
    width: 610px;
    height: 177px;
}
.latestNews .news .newsContent .imgNewsBox h3 {
    width: 610px;
    height: 82px;
    font-weight: 200;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #636363;
}
.latestNews .news .newsContent .imgNewsBox p {
    width: 609px;
    height: 90px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
}
.latestNews .news .newsContent .imgNewsBox button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 109px;
    height: 45px;
    background: #d30018;
    cursor: pointer;
    border: none;
}
.latestNews .news .newsContent .imgNewsBox button p {
    width: 69px;
    height: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
/* ----------------- Region --------------*/
.region {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    width: 1240px;
    height: 415px;
    left: 100px;
    top: 5600px;
}
.region .regionText h2 {
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
}
.region .regionText p {
    width: 1240px;
    height: 60px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
}
.region .regionCity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    gap: 20px;
    width: 1240px;
    height: 244px;
}
.region .regionCity .cityBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 30px;
    width: 400px;
    height: 68px;
    background: #f8f8f8;
    gap: 5px;
}
.region .regionCity .cityBox p {
    width: 340px;
    height: 28px;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #636363;
}
.region .regionCity .cityBox p a {
    font-weight: bold;
}
.region .regionCity .cityBox::before {
    content: '';
    width: 4px;
    height: 68px;
    background: #d30018;
    transform: translate(-30px, -20px);
}
/*------------ Footer --------------*/
footer {
    position: absolute;
    top: 6100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    height: 250px;
    left: 0;
}
footer .created {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
    height: 40px;
    width: 100%;
    background: #222;
}
footer .footerContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 0;
    width: 100%;
    height: 210px;
    background: #eee;
}
footer .footerContent .logoImg {
    width: 171px;
    height: 56px;
    transform: translate(100px, 25px);
}
footer .footerContent .logoImg img {
    width: 171px;
    height: 56px;
    object-fit: cover;
}
footer .created p {
    width: 280px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
footer .created p a {
    font-weight: bold;
}
footer .contentInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    width: 788px;
    height: 110px;
    transform: translate(450px, 20px);
}
footer .contentInfo .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}
footer .contentInfo .info a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #636363;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    header {
        width: 1200px;
    }
    .banner {
        width: 1200px;
    }
    .realization {
        width: 1200px;
    }
    .realization .realizationImg {
        width: 1200px;
    }
    .realization .realizationImg h3 {
        font-size: 30px;
        line-height: 41px;
    }
    .realization .realizationImg p {
        font-size: 16px;
        line-height: 25px;
    }
    .realization .realizationImg button {
        width: 100px;
        height: 40px;
        margin-top: 15px;   
    }
    .realization .realizationImg button p {
        font-size: 18px;
        line-height: 25px;
    }
    .aboutUs {
        width: 1200px;
    }
    .aboutUs .aboutContent .col50 {
        width: 50%;
    }
    .aboutUs .aboutContent .textAbout h2 {
        height: 50px;
        font-weight: 200;
        font-size: 32px;
        line-height: 48px;
    }
    .aboutUs .aboutContent .textAbout p.ipsum1 {
        font-size: 14px;
        line-height: 28px; 
    }
    .aboutUs .aboutContent .textAbout p.ipsum2 {
        font-size: 14px;
        line-height: 28px;
    }
    .aboutUs .aboutContent .textAbout button {
        width: 100px;
        height: 42px;
        margin-top: 0px;
    }
    .aboutUs .aboutContent .textAbout button p {
        font-size: 20px;
    }
    .aboutUs .aboutContent .col50 {
        width: 50%;
    }
    .aboutUs .aboutContent .col50 .imgAbout {
        width: 50%;
    }
    .aboutUs .aboutContent .col50 .imgAbout img.about1 {
        width: 460px;
        height: 320px;
    }
    .aboutUs .aboutContent .col50 .imgAbout img.about2 {
        margin-left: 45px;
    }
    .offer {
        width: 1200px;
    }
    .offerText {
        width: 100%;
    }
    .offer .offerText h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .offer .offerText p {
        width: 100%;
        font-size: 17px;
    }
    .offer .offerContent {
        flex-direction: column;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
    }
    .offer .offerContent .box {
        padding: 10px;
        width: 500px;
        height: 500px;
        overflow: hidden;
    }
    .offer .offerContent .box h1 {
        font-size: 80px;
        line-height: 110px;
    }
    .offer .offerContent .box h2 {
        font-size: 30px;
        line-height: 45px;
    }
    .offer .offerContent .box p {
        width: 450px;
        font-size: 15px;
        line-height: 25px;
    }
    .logoBar {
        width: 1200px;
    }
    .logoBar .bar {
        width: 100%;
        left: 10px;
    }
    .logoBar .bar img:nth-child(1) {
        width: 165px;
        height: 45px;
    }
    .logoBar .bar img {
        width: 100px;
        height: 110px;
    }
    .logoBar .bar img:nth-child(3) {
        width: 160px;
        height: 80px;
    }
    .logoBar .bar img:nth-child(5) {
        width: 175px;
        height: 50px;
    }
    .latestNews {
        width: 1200px;
    }
    .latestNews .news {
        width: 1000px;
        height: 800px;
    }
    .latestNews .news h2 {
        font-size: 32px;
        width: 800px;
    }
    .latestNews .news .newsContent {
        width: 1200px;
        display: grid;
        grid-template-columns: auto auto;
        left: 100px;
        justify-content: start;
    }
    .latestNews .news .newsContent .imgNewsBox {
        margin-top: 20px;
        width: 500px;
    }
    .latestNews .news .newsContent .imgNewsBox img {
        height: 335px;
        width: 100%;
    }
    .latestNews .news .newsContent .imgNewsBox .imgText {
        width: 500px;
    }
    .latestNews .news .newsContent .imgNewsBox h3 {
        width: 100%;
        font-size: 24px;
        line-height: 36px;
        height: 60px;
    }
    .latestNews .news .newsContent .imgNewsBox p {
        width: 100%;
        font-size: 16px;
    }
    .latestNews .news .newsContent .imgNewsBox button {
        width: 100px;
    }
    .latestNews .news .newsContent .imgNewsBox button p {
        font-size: 18px;
        line-height: 28px;
    }
    .region {
        width: 1200px;
    }
    .region .regionText {
        width: 1200px;
    }
    .region .regionText h2 {
        font-size: 35px;
        width: 1000px;
    }
    .region .regionText p {
        width: 1000px;
        font-size: 15px;
    }
    .region .regionCity {
        width: 1000px;
        height: 500px;
    }
    .region .regionCity .cityBox {
        width: 300px;
    }
    .region .regionCity .cityBox p {
        width: 340px;
        height: 28px;
        font-size: 15px;
    }
    footer {
        width: 1200px;
    }
    footer .footerContent {
        width: 1200px;
    }
    footer .footerContent .logoImg {
        transform: translate(40px, 25px);
    }
    footer .contentInfo {
        transform: translate(240px, 20px);
    }
}
@media (max-width: 992px) {
    header {
        width: 992px;
    }
    header .headerText {
        width: 690px;
    }
    header .headerText .textBox img {
        transform: scale(0.8);
    }
    header .headerText .textBox p {
        font-size: 14px;
    }
    header .headerText .textBox:nth-child(2) p {
        width: 240px;
    }
    header .headerText .textBox:nth-child(3) p {
        width: 360px;
    }
    .banner {
        width: 992px;
    }
    .banner .menu {
        width: 992px;
    }
    .banner .menu .logo {
        transform: translateX(10px);
    }
    .banner .menu .menuBar {
        transform: translateX(-25px);
    }
    .banner .title {
        width: 620px;
    }
    .banner .title .arrow_left {
        left: 20%;
        top: 40%;    
    }
    .banner .title h1 {
        font-size: 38px;
        width: 500px;
    }
    .banner .title button {
        width: 100px;
    }
    .banner .title button p {
        font-size: 17px;
    }
    .banner .title .arrow_right {
        left: 75%;
        top: 40%;
    }
    .realization {
        width: 992px;
    }
    .realization .realizationText {
        width: 992px;
        height: 110px;
    }
    .realization .realizationImg {
        width: 992px;
    }
    .realization .realizationImg .textBx1 {
        margin-left: 70px;
    }
    .realization .realizationImg .textBx2 {
        margin-left: 70px;
    }
    .realization .realizationImg .textBx3 {
        margin-left: 70px;
    }
    .realization .realizationImg .textBx4 {
        margin-left: 70px;
    }
    .realization .realizationImg h3 {
        font-size: 30px;
        line-height: 41px;
    }
    .realization .realizationImg p {
        font-size: 16px;
        line-height: 25px;
    }
    .realization .realizationImg button {
        width: 100px;
        height: 40px;
        margin-top: 15px;   
    }
    .realization .realizationImg button p {
        font-size: 18px;
        line-height: 25px;
    }
    .aboutUs {
        width: 992px;
    }
    .aboutUs .aboutContent {
        width: 800px;
    }
    .aboutUs .aboutContent .col50 {
        width: 50%;
    }
    .aboutUs .aboutContent .textAbout h2 {
        height: 50px;
        font-weight: 200;
        font-size: 25px;
        line-height: 40px;
        width: 400px;
    }
    .aboutUs .aboutContent .textAbout p.ipsum1 {
        font-size: 14px;
        line-height: 28px; 
        width: 400px;
    }
    .aboutUs .aboutContent .textAbout p.ipsum2 {
        font-size: 14px;
        line-height: 28px;
        width: 400px;
    }
    .aboutUs .aboutContent .textAbout button {
        width: 85px;
        height: 42px;
        margin-top: 20px;
    }
    .aboutUs .aboutContent .textAbout button p {
        font-size: 13px;
    }
    .aboutUs .aboutContent .col50 {
        width: 50%;
        margin-right: 40px;
    }
    .aboutUs .aboutContent .col50 .imgAbout {
        width: 50%;
    }
    .aboutUs .aboutContent .col50 .imgAbout img.about1 {
        width: 400px;
        height: 300px;
    }
    .aboutUs .aboutContent .col50 .imgAbout img.about2 {
        margin-left: 45px;
        width: 310px;
        height: 200px;
    }
    .offer {
        width: 992px;
        height: 1250px;
    }
    .offerText {
        width: 100%;
    }
    .offer .offerText h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .offer .offerText p {
        width: 100%;
        font-size: 17px;
    }
    .offer .offerContent {
        width: 800px;
        flex-direction: column;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        height: 910px;
    }
    .offer .offerContent .box {
        padding: 10px;
        width: 400px;
        height: 450px;
        overflow: hidden;
    }
    .offer .offerContent .box h1 {
        font-size: 70px;
        line-height: 70px;
    }
    .offer .offerContent .box h2 {
        font-size: 25px;
        line-height: 45px;
        width: 400px;
    }
    .offer .offerContent .box p {
        width: 380px;
        font-size: 15px;
        line-height: 25px;
    }
    .logoBar {
        width: 992px;
        top: 4200px;
    }
    .logoBar .bar {
        width: 100%;
        left: 10px;
    }
    .logoBar .bar img:nth-child(1) {
        width: 120px;
        height: 35px;
    }
    .logoBar .bar img {
        width: 75px;
        height: 90px;
    }
    .logoBar .bar img:nth-child(3) {
        width: 100px;
        height: 70px;
    }
    .logoBar .bar img:nth-child(5) {
        width: 75px;
        height: 90px;
    }
    .latestNews {
        width: 992px;
        top: 4500px;
    }
    .latestNews .news {
        width: 1000px;
        height: 800px;
    }
    .latestNews .news h2 {
        font-size: 32px;
        width: 700px;
    }
    .latestNews .news .newsContent {
        width: 992px;
        display: grid;
        grid-template-columns: auto auto;
        left: 100px;
        justify-content: start;
    }
    .latestNews .news .newsContent .imgNewsBox {
        margin-top: 20px;
        width: 400px;
    }
    .latestNews .news .newsContent .imgNewsBox img {
        height: 335px;
        width: 100%;
    }
    .latestNews .news .newsContent .imgNewsBox .imgText {
        width: 400px;
    }
    .latestNews .news .newsContent .imgNewsBox h3 {
        width: 100%;
        font-size: 24px;
        line-height: 36px;
        height: 60px;
        margin-bottom: 10px;
    }
    .latestNews .news .newsContent .imgNewsBox p {
        width: 100%;
        font-size: 16px;
    }
    .latestNews .news .newsContent .imgNewsBox button {
        width: 100px;
    }
    .latestNews .news .newsContent .imgNewsBox button p {
        font-size: 18px;
        line-height: 28px;
    }
    .region {
        width: 992px;
        top: 5400px;
    }
    .region .regionText {
        width: 700px;
    }
    .region .regionText h2 {
        font-size: 35px;
        width: 700px;
    }
    .region .regionText p {
        width: 700px;
        font-size: 15px;
    }
    .region .regionCity {
        width: 700px;
        height: 500px;
    }
    .region .regionCity .cityBox {
        width: 300px;
    }
    .region .regionCity .cityBox p {
        width: 340px;
        height: 28px;
        font-size: 15px;
    }
    footer {
        width: 992px;
    }
    footer .footerContent {
        width: 992px;
    }
    footer .footerContent .logoImg {
        transform: translate(20px, 25px);
    }
    footer .contentInfo {
        transform: translate(200px, 20px);
    }
    footer .contentInfo .info a {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    
}
@media (max-width: 576px) {
    
}