@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Overpass:wght@100&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    scroll-behavior: smooth;
}
body {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    height: 2000px;
}

/* ---------Header---------- */
header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    gap: 184px;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #222;
}
header .headerText {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 100%;
    height: 20px;
}
header .headerText .textBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .headerText ion-icon {
    color: #d30018;
    margin-right: 5px;
}
header .headerText .textBox p {
    width: 122px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}
header .headerText .textBox:nth-child(2) p {
    width: 259px;
}
header .headerText .textBox:nth-child(3) p {
    width: 403px;
}
header .flags {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90px;
    height: 30px;
    cursor: pointer;
}
header .flags .flag:hover {
    transform: scale(1.1);
}
header .flags .flag2:hover {
    transform: scale(1.1);
}
header .flags .flag {
    width: 40px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
    background: linear-gradient(#eee 0%, #eee 50%, #dc143c 50%, #dc143c 100%);
    transition: 0.5s;
}
header .flags .flag2 {
    width: 40px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
    background: linear-gradient(#141414 0%, #141414 33%, #ed1f24 33%, #ed1f24 66%, #ffcd05 66%,  #ffcd05 100%);
    transition: 0.5s;
}

/* ---------Banner---------- */
.banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    height: 579px;
    left: 0;
    top: 50px;
    background: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.banner .menu {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    width: 100%;
    height: 96px;
    background: rgba(0, 0, 0, 0.3);
}
.banner .menu .logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 175px;
    height: 56px;
}
.banner .menu .logo img {
    width: 175px;
    height: 56px;
    cursor: pointer;
}
.banner .menu .menuBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 0;
    width: 891px;
    height: 25px;
}
.banner .menu .menuBar ul {
    display: flex;
    flex-direction: row;
    height: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.banner .menu .menuBar ul li {
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
}
.banner .menu .menuBar ul li a {
    text-decoration: none;
    color: #fff;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 58px;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 73px;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 115px;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 225px;
}
.banner .menu .menuBar ul li:nth-child(1) {
    width: 70px;
}
.banner .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 790px;
    height: 238px;
}
.banner .title h1 {
    width: 606px;
    height: 183px;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.banner .title button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 109px;
    height: 45px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}
.banner .title button p {
    width: 69px;
    height: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #222;
}
.banner .title button:hover {
    background: #d30018;
    transform: scale(1.1);
}
.banner .title button:hover p {
    color: #fff;
}
.banner .title .arrow_left {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 16px;
    height: 52px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    padding: 25px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition: 0.5s;
    cursor: pointer;
}
.banner .title .arrow_left:hover {
    border-width: 0 5px 5px 0;
}
.banner .title .arrow_right {
    position: absolute;
    left: 72%;
    top: 50%;
    width: 16px;
    height: 52px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    padding: 25px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.5s;
    cursor: pointer;
}
.banner .title .arrow_right:hover {
    border-width: 0 5px 5px 0;
}
.banner .slider {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 0;
    width: 65px;
    height: 15px;
    gap: 10px;
    top: 40px;
    cursor: pointer;
}
.banner .slider .circle {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
}
.banner .slider .circle.active {
    border: 1px solid white;
    background: #d30018;
}
/* ---------O nas---------- */
.aboutUs {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px;
    width: 100%;
    height: 596px;
    top: 630px;
}
.aboutUs .aboutContent {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.aboutContent .col50 {
    position: relative;
    width: 48%;
}
.aboutUs .aboutContent .textAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 610px;
    height: 491px;
}
.aboutUs .aboutContent .textAbout h2 {
    width: 610px;
    height: 51px;
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
    padding-bottom: 10px;
}
.aboutUs .aboutContent .textAbout p.ipsum1 {
    width: 610px;
    height: 150px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #636363;
    padding-bottom: 10px;
}
.aboutUs .aboutContent .textAbout p.ipsum2 {
    width: 610px;
    height: 2700px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
}
.aboutUs .aboutContent .col50 {
    position: relative;
    width: 48%;
}
.aboutUs .aboutContent .col50 .imgAbout {
    position: relative;
    width: 100%;
    height: 596px;
    object-fit: cover;
}
.aboutUs .aboutContent .col50 .imgAbout img.about1 {
    top: 0;
    left: 0;
    width: 529px;
    height: 353px;
}
.aboutUs .aboutContent .col50 .imgAbout img.about2 {
    top: 0;
    left: 0;
    width: 365px;
    height: 243px;
    margin-left: 82px;
    transform: translateY(-15px);
}
.aboutUs .aboutContent .col50 .imgAbout .white {
    position: absolute;
    height: 18px;
    background: #fff;
    width: 65%;
    left: 64px;
    top: 335px;
}

/* --------Oferta-------------- */
.offer {
    position: absolute;
    top: 1380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    gap: 50px;
    width: 100%;
    height: 1559px;
    left: 0;
    background: #f8f8f8;
}
.offer .offerText h2 {
    width: 610px;
    height: 51px;
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
}
.offer .offerText p {
    width: 1240px;
    height: 60px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
}
.offer .offerContent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1188px;
    width: 100%;
    gap: 20px;
}
.offer .offerContent .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;
    width: 610px;
    height: 584px;
    background: #fff;
}
.offer .offerContent .box h1 {
    width: 93px;
    height: 122px;
    font-weight: 200;
    font-size: 96px;
    line-height: 122px;
    text-transform: uppercase;
    color: #d30018;
}
.offer .offerContent .box h2 {
    width: 510px;
    height: 102px;
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
}
.offer .offerContent .box p {
    width: 510px;
    height: 240px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
}

/* ---------Realizacja---------- */
.realization {
    position: absolute;
    top: 2950px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.realization .realizationText {
    padding: 0;
    width: 100%;
    height: 121px;
    margin-top: 100px;
}
.realization .realizationText h2 {
    width: 610px;
    height: 51px;
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
    margin-left: 100px;
}
.realization .realizationText p {
    width: 80%;
    height: 60px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
    margin-left: 100px;
    white-space: initial;
}
.realization .realizationImg {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1012px;
    width: 100%;
}
.realization .realizationImg .box {
    width: 50%;
    height: 506px;
}
.realization .realizationImg .box .imgBx {
    position: relative;
    width: 100%;
    height: 506px;
}
.realization .realizationImg .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.realization .realizationImg .textBx1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 404px;
    height: 231px;
    margin-left: 100px;
    top: 350px
}
.realization .realizationImg .textBx2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 404px;
    height: 231px;
    margin-left: 100px;
    top: 350px
}
.realization .realizationImg .textBx3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 404px;
    height: 231px;
    margin-left: 100px;
    top: 870px
}
.realization .realizationImg .textBx4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 404px;
    height: 231px;
    margin-left: 100px;
    top: 870px
}
.realization .realizationImg h3 {
    width: 97px;
    height: 41px;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #fff;
}
.realization .realizationImg p {
    width: 404px;
    height: 180px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}
.realization .realizationImg button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 109px;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.realization .realizationImg button p {
    width: 69px;
    height: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #222;
}
.realization .realizationImg button:hover {
    background: #d30018;
    transform: scale(1.1);
}
.realization .realizationImg button p:hover {
    color: #fff;
}
/* --------- Logo Bar ------------ */
.logoBar {
    position: absolute;
    top: 4400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logoBar .bar {
    position: absolute;
    width: 1240px;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 70px;
    left: 130px;
}
.logoBar .bar img {
    width: 146px;
    height: 110px;
    filter: grayscale(100%);
    opacity: 0.3;
}
.logoBar .bar img:nth-child(1) {
    width: 175px;
    height: 50px;
    transform: translateY(35px);
}
.logoBar .bar img:nth-child(3) {
    width: 175px;
    height: 80px;
    transform: translateY(10px);
}
.logoBar .bar img:nth-child(5) {
    width: 175px;
    height: 50px;
    transform: translateY(35px);
}
/* ---------Aktualności--------------*/
.latestNews {
    position: absolute;
    top: 4450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.latestNews .newsContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    position: absolute;
    width: 1240px;
    top: 250px;
    left: 100px;
}
.latestNews .newsContent h2 {
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
    height: 51px;
}
.latestNews .newsContent .imgNewsBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 610px;
    height: 600px;
    background: #fff;
    margin-top: 50px;
    gap: 20px;
}
.latestNews .newsContent .imgNewsBox img {
    object-fit: cover;
    width: 610px;
    height: 338px;
}
.latestNews .newsContent .imgNewsBox .imgText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 5px;
    width: 610px;
    height: 177px;
}
.latestNews .newsContent .imgNewsBox h3 {
    width: 610px;
    height: 82px;
    font-weight: 200;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #636363;
}
.latestNews .newsContent .imgNewsBox p {
    width: 609px;
    height: 90px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
}
.latestNews .newsContent .imgNewsBox button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    width: 109px;
    height: 45px;
    background: #d30018;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    margin-top: 10px;
}
.latestNews .newsContent .imgNewsBox button p {
    width: 69px;
    height: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.latestNews .newsContent .imgNewsBox button:hover {
    background: #d30018;
    transform: scale(1.1);
}
/* ----------------- Region --------------*/
.region {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    width: 1240px;
    height: 415px;
    left: 100px;
    top: 5600px;
}
.region .regionText h2 {
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #636363;
}
.region .regionText p {
    width: 1240px;
    height: 60px;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #222;
}
.region .regionCity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    gap: 20px;
    width: 1240px;
    height: 244px;
}
.region .regionCity .cityBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 30px;
    width: 400px;
    height: 68px;
    background: #f8f8f8;
    gap: 5px;
}
.region .regionCity .cityBox p {
    width: 340px;
    height: 28px;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #636363;
}
.region .regionCity .cityBox p a {
    font-weight: bold;
}
.region .regionCity .cityBox::before {
    content: '';
    width: 4px;
    height: 68px;
    background: #d30018;
    transform: translate(-30px, -20px);
}
/*------------ Footer --------------*/
footer {
    position: absolute;
    top: 6100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    height: 250px;
    left: 0;
}
footer .created {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
    height: 40px;
    width: 100%;
    background: #222;
}
footer .footerContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 0;
    width: 100%;
    height: 210px;
    background: #eee;
}
footer .footerContent .logoImg {
    width: 171px;
    height: 56px;
    transform: translate(100px, 25px);
}
footer .footerContent .logoImg img {
    width: 171px;
    height: 56px;
    object-fit: cover;
}
footer .created p {
    width: 280px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
footer .created p a {
    font-weight: bold;
}
footer .contentInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    width: 788px;
    height: 110px;
    transform: translate(450px, 20px);
}
footer .contentInfo .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}
footer .contentInfo .info a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #636363;
    text-transform: uppercase;
}